In [1]:
# Import dependencies
import pandas as pd
from config import api_key
import requests
import json

In [2]:
# Import csv files as dataframes
cases_df = pd.read_csv("Output/malaria_cases.csv")
deaths_df = pd.read_csv("Output/malaria_deaths.csv")
rates_df = pd.read_csv("Output/malaria_rate.csv")
mortality_df = pd.read_csv("Output/mortality_rate.csv")

In [3]:
# Create a function to get a list of countries that are in each individual table
def unique_countries(dataframe):
    global countries
    countries = dataframe["Country"].unique()

In [4]:
# Run the function on each table
unique_countries(cases_df)
cases_countries = countries
cases_countries

array(['Algeria', 'Argentina', 'Armenia', 'Azerbaijan', 'Belize',
       'Cabo Verde', 'China', 'El Salvador', 'Georgia',
       'Iran (Islamic Republic of)', 'Iraq', 'Kazakhstan', 'Kyrgyzstan',
       'Malaysia', 'Mauritius', 'Morocco', 'Oman', 'Paraguay',
       'Saudi Arabia', 'Sri Lanka', 'Syrian Arab Republic', 'Tajikistan',
       'Timor-Leste', 'Türkiye', 'Turkmenistan', 'United Arab Emirates',
       'Uzbekistan', 'Somalia', 'Papua New Guinea', 'Congo', 'Rwanda',
       'Central African Republic', 'Liberia', 'Mozambique', 'Comoros',
       'Philippines', 'Colombia', 'Nepal', 'Botswana', 'Uganda',
       'Bolivia (Plurinational State of)', 'Guatemala', 'Solomon Islands',
       'Brazil', 'Costa Rica', 'Cambodia', 'Afghanistan', 'Togo',
       'Sierra Leone', 'South Sudan',
       'Venezuela (Bolivarian Republic of)', 'Namibia', 'Gambia',
       'Guinea-Bissau', 'Ecuador', 'Suriname', 'Haiti', 'Thailand',
       'Honduras', 'Peru', "Democratic People's Republic of Korea",
       'Mexico', 'Guyana', 'Sao Tome and Principe', 'Republic of Korea',
       'Nicaragua', 'Myanmar', 'South Africa', 'Sudan', 'Kenya', 'Chad',
       'Zambia', 'Burundi', 'Ethiopia',
       'Democratic Republic of the Congo', 'Eswatini', 'Zimbabwe',
       'Equatorial Guinea', 'Dominican Republic', 'India', 'Malawi',
       'Guinea', 'Madagascar', 'Benin', 'Viet Nam', 'Panama', 'Ghana',
       'Pakistan', 'Gabon', 'Vanuatu', 'Djibouti', 'Cameroon',
       "Lao People's Democratic Republic", 'Nigeria', 'Côte d’Ivoire',
       'Mali', 'United Republic of Tanzania', 'Niger', 'Burkina Faso',
       'Angola', 'Indonesia', 'Mauritania', 'French Guiana', 'Bangladesh',
       'Bhutan', 'Eritrea', 'Yemen', 'Senegal', 'Mayotte'], dtype=object)

In [5]:
# Run the function on each table
unique_countries(deaths_df)
deaths_countries = countries
deaths_countries

array(['Belize', 'Bhutan', 'Cabo Verde', 'Costa Rica',
       "Democratic People's Republic of Korea", 'Eswatini', 'Guatemala',
       'Mexico', 'Nepal', 'Nicaragua', 'Panama', 'Republic of Korea',
       'Sao Tome and Principe', 'Saudi Arabia', 'Suriname', 'Timor-Leste',
       'Vanuatu', 'Honduras', 'Benin', 'Guinea', 'Comoros', 'Afghanistan',
       'Ghana', 'Chad', 'Kenya', 'Solomon Islands', 'Djibouti',
       'Cameroon', 'Indonesia', 'Bangladesh', 'Côte d’Ivoire', 'Angola',
       'Mauritania', 'Niger', 'Mali', 'Burkina Faso', 'Yemen', 'Nigeria',
       'Dominican Republic', 'Viet Nam',
       'Venezuela (Bolivarian Republic of)', 'Uganda', 'Somalia', 'Peru',
       'Mozambique', 'Congo', 'United Republic of Tanzania', 'Guyana',
       'Zimbabwe', 'Papua New Guinea', 'Ecuador', 'Thailand', 'Rwanda',
       'Eritrea', 'South Africa', 'Botswana', 'Brazil', 'Gabon',
       'Cambodia', 'Pakistan', 'Senegal', 'Colombia',
       'Central African Republic', 'Namibia', 'Burundi',
       'Bolivia (Plurinational State of)', 'Gambia',
       "Lao People's Democratic Republic", 'Malawi', 'India',
       'South Sudan', 'Sudan', 'Myanmar', 'Sierra Leone',
       'Democratic Republic of the Congo', 'Zambia', 'Ethiopia',
       'Madagascar', 'Haiti', 'Philippines', 'Albania', 'Algeria',
       'Andorra', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'China',
       'Cook Islands', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Dominica', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia',
       'Fiji', 'Finland', 'France', 'Georgia', 'Germany', 'Greece',
       'Grenada', 'Guinea-Bissau', 'Hungary', 'Iceland',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives', 'Malta',
       'Marshall Islands', 'Mauritius',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Nauru', 'Netherlands', 'New Zealand',
       'Niue', 'Norway', 'Oman', 'Palau', 'Paraguay', 'Poland',
       'Portugal', 'Qatar', 'Republic of Moldova',
       'The former Yugoslav Republic of Macedonia', 'Romania',
       'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
       'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Tuvalu', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Uruguay', 'Uzbekistan'], dtype=object)

In [6]:
# Run the function on each table
unique_countries(rates_df)
rates_countries = countries
rates_countries

array(['Mauritius', 'Algeria', 'Belize', 'Cabo Verde',
       'Iran (Islamic Republic of)', 'Iraq', 'Malaysia', 'Morocco',
       'Oman', 'Paraguay', 'Saudi Arabia', 'Sri Lanka',
       'Syrian Arab Republic', 'Timor-Leste', 'United Arab Emirates',
       'Viet Nam', 'Nepal', 'Bhutan', 'Dominican Republic',
       'Republic of Korea', 'Mexico', 'Costa Rica', 'Guatemala',
       'Philippines', 'Thailand', "Democratic People's Republic of Korea",
       'Suriname', 'Honduras', 'Bangladesh', 'South Africa',
       'French Guiana', 'Botswana', 'Eswatini', 'Panama', 'Cambodia',
       "Lao People's Democratic Republic", 'Peru', 'Vanuatu', 'Namibia',
       'Guinea-Bissau', 'Sao Tome and Principe', 'Comoros',
       'Papua New Guinea', 'United Republic of Tanzania', 'Rwanda',
       'Venezuela (Bolivarian Republic of)', 'Ghana', 'Madagascar',
       'Mauritania', 'Zambia', 'Haiti', 'Pakistan',
       'Bolivia (Plurinational State of)', 'Indonesia', 'Chad',
       'Equatorial Guinea', 'Solomon Islands', 'Malawi', 'Congo', 'Gabon',
       'Togo', 'Cameroon', 'Eritrea', 'Angola', 'Zimbabwe',
       'Côte d’Ivoire', 'South Sudan', 'Uganda', 'Burundi', 'India',
       'Brazil', 'Nigeria', 'Democratic Republic of the Congo', 'Guyana',
       'Mozambique', 'Niger', 'Sierra Leone', 'Guinea',
       'Central African Republic', 'Mali', 'Liberia', 'Burkina Faso',
       'Benin', 'Ecuador', 'Yemen', 'Ethiopia', 'Senegal', 'Afghanistan',
       'Kenya', 'Somalia', 'Djibouti', 'Sudan', 'Colombia', 'Gambia',
       'Myanmar', 'Nicaragua', 'Argentina', 'China', 'El Salvador',
       'Uzbekistan', 'Armenia', 'Azerbaijan', 'Georgia', 'Kazakhstan',
       'Kyrgyzstan', 'Mayotte', 'Tajikistan', 'Türkiye', 'Turkmenistan'],
      dtype=object)

In [7]:
# Run the function on each table
unique_countries(mortality_df)
mortality_countries = countries
mortality_countries

array(['Honduras', 'Belize', 'Bhutan', 'Cabo Verde', 'Costa Rica',
       "Democratic People's Republic of Korea", 'Eswatini', 'Guatemala',
       'Mexico', 'Nepal', 'Nicaragua', 'Panama', 'Republic of Korea',
       'Sao Tome and Principe', 'Saudi Arabia', 'Suriname', 'Timor-Leste',
       'Vanuatu', 'Viet Nam', 'Thailand', 'Dominican Republic',
       'Colombia', 'Bangladesh', 'Brazil',
       'Bolivia (Plurinational State of)', 'Philippines',
       "Lao People's Democratic Republic", 'Peru', 'Pakistan', 'Myanmar',
       'Botswana', 'Cambodia', 'Afghanistan', 'Indonesia', 'India',
       'Ecuador', 'South Africa', 'Haiti', 'Comoros',
       'Venezuela (Bolivarian Republic of)', 'Yemen', 'Eritrea',
       'Sierra Leone', 'Central African Republic', 'Ethiopia', 'Somalia',
       'Djibouti', 'Sudan', 'Solomon Islands', 'Gabon', 'Namibia',
       'Kenya', 'Rwanda', 'Zimbabwe', 'Gambia', 'Senegal', 'Guyana',
       'Papua New Guinea', 'Madagascar', 'Mauritania', 'Malawi', 'Ghana',
       'Congo', 'Togo', 'United Republic of Tanzania', 'Uganda',
       'Equatorial Guinea', 'Angola', 'Zambia', 'Burundi',
       'Guinea-Bissau', 'Cameroon', 'Côte d’Ivoire', 'South Sudan',
       'Niger', 'Mozambique', 'Chad', 'Guinea', 'Benin', 'Liberia',
       'Democratic Republic of the Congo', 'Mali', 'Burkina Faso',
       'Nigeria', 'Albania', 'Algeria', 'Andorra', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Barbados', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Brunei Darussalam', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Cook Islands', 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Denmark', 'Dominica', 'Egypt', 'El Salvador',
       'Estonia', 'Fiji', 'Finland', 'France', 'Georgia', 'Germany',
       'Greece', 'Grenada', 'Hungary', 'Iceland',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Libya', 'Lithuania',
       'Luxembourg', 'Malaysia', 'Maldives', 'Malta', 'Marshall Islands',
       'Mauritius', 'Micronesia (Federated States of)', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Nauru', 'Netherlands',
       'New Zealand', 'Niue', 'Norway', 'Oman', 'Palau', 'Paraguay',
       'Poland', 'Portugal', 'Qatar', 'Republic of Moldova',
       'The former Yugoslav Republic of Macedonia', 'Romania',
       'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
       'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Tuvalu', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Uruguay', 'Uzbekistan'], dtype=object)

In [58]:
# Combine all four lists and drop duplicates
countries_list = list(set(cases_countries) | set(deaths_countries) | set(rates_countries) | set(mortality_countries))
print(countries_list)

['Kuwait', 'Czechia', 'Latvia', 'Sierra Leone', 'Djibouti', 'Zambia', 'Uzbekistan', 'Belarus', 'Croatia', 'Eritrea', 'Slovenia', 'Albania', 'Tajikistan', 'Austria', 'Mali', 'Georgia', 'Russian Federation', 'Indonesia', 'Cyprus', 'Democratic Republic of the Congo', 'Andorra', 'Timor-Leste', 'Denmark', 'Benin', 'Tuvalu', 'Bahrain', 'Bosnia and Herzegovina', 'Papua New Guinea', 'Central African Republic', 'Cuba', 'Iraq', 'Seychelles', 'United Arab Emirates', 'Marshall Islands', 'Greece', 'Nigeria', 'India', 'Bahamas', 'Saudi Arabia', 'Syrian Arab Republic', 'Jordan', 'Romania', 'Madagascar', 'Slovakia', 'Mayotte', 'Nauru', 'Singapore', 'Samoa', 'Ecuador', 'Ghana', 'Uganda', 'Monaco', 'Barbados', 'Gambia', 'Venezuela (Bolivarian Republic of)', 'Honduras', 'Ethiopia', 'South Sudan', "Lao People's Democratic Republic", 'Burundi', 'South Africa', 'France', 'Türkiye', 'Qatar', 'Eswatini', 'Sao Tome and Principe', 'San Marino', 'Cambodia', 'Republic of Moldova', "Democratic People's Republic of Korea", 'United States of America', 'Belize', 'Ukraine', 'Germany', 'Gabon', 'Colombia', 'Estonia', 'Libya', 'Niue', 'Sweden', 'Saint Vincent and the Grenadines', 'Dominica', 'Congo', 'Netherlands', 'Trinidad and Tobago', 'Mozambique', 'Tunisia', 'Cook Islands', 'Peru', 'Suriname', 'Mexico', 'Chad', 'Kiribati', 'Brunei Darussalam', 'Norway', 'Iceland', 'Panama', 'Maldives', 'Rwanda', 'Côte d’Ivoire', 'Serbia', 'Togo', 'Kyrgyzstan', 'Guinea', 'Guinea-Bissau', 'Turkmenistan', 'Vanuatu', 'Comoros', 'Saint Lucia', 'French Guiana', 'Morocco', 'El Salvador', 'Italy', 'Burkina Faso', 'Nicaragua', 'Zimbabwe', 'Solomon Islands', 'Viet Nam', 'Brazil', 'Armenia', 'Egypt', 'Liberia', 'Afghanistan', 'Hungary', 'Senegal', 'Malta', 'Bangladesh', 'Cabo Verde', 'Namibia', 'Sri Lanka', 'Portugal', 'Bolivia (Plurinational State of)', 'New Zealand', 'Belgium', 'Grenada', 'Kenya', 'Micronesia (Federated States of)', 'Somalia', 'Paraguay', 'Japan', 'Fiji', 'Mongolia', 'Republic of Korea', 'Australia', 'Finland', 'Haiti', 'Poland', 'Mauritania', 'Myanmar', 'The former Yugoslav Republic of Macedonia', 'Angola', 'Yemen', 'Tonga', 'Equatorial Guinea', 'Kazakhstan', 'Saint Kitts and Nevis', 'Sudan', 'Lebanon', 'Dominican Republic', 'Antigua and Barbuda', 'Iran (Islamic Republic of)', 'Pakistan', 'Costa Rica', 'Guyana', 'Bulgaria', 'Algeria', 'United Republic of Tanzania', 'United Kingdom of Great Britain and Northern Ireland', 'Argentina', 'Botswana', 'Mauritius', 'Cameroon', 'Spain', 'Palau', 'Canada', 'Niger', 'Ireland', 'Uruguay', 'Bhutan', 'China', 'Israel', 'Lithuania', 'Thailand', 'Malawi', 'Nepal', 'Switzerland', 'Philippines', 'Guatemala', 'Luxembourg', 'Malaysia', 'Chile', 'Lesotho', 'Montenegro', 'Azerbaijan', 'Jamaica', 'Oman']

In [11]:
# Create a new dataframe that will have each country and will be populated with latitude and longitude
countries_df = pd.DataFrame({"Country": countries_list, "Latitude": "", "Longitude": ""})
countries_df

          Country Latitude Longitude
0          Kuwait
1         Czechia
2          Latvia
3    Sierra Leone
4        Djibouti
..            ...      ...       ...
191       Lesotho
192    Montenegro
193    Azerbaijan
194       Jamaica
195          Oman

[196 rows x 3 columns]

In [19]:
# Use a geoapify api call to get the coordinates for each country in the dataframe
for index, row in countries_df.iterrows():
        # Loop through zip codes
        country = countries_df.loc[index, "Country"]
        # define target url
        target_url = f"https://api.geoapify.com/v1/geocode/search?country={country}&apiKey={api_key}"
        # make API request
        response = requests.get(target_url).json()
        try:
            countries_df.loc[index, "Latitude"] = response["features"][0]["properties"]["lat"]
            countries_df.loc[index, "Longitude"] = response["features"][0]["properties"]["lon"]
            print(f"{country} found")
        except:
            countries_df.loc[index, "Latitude"] = "Not Found"
            countries_df.loc[index, "Longitude"] = "Not Found"
            print(f"{country} NOT found")

Kuwait found
Czechia found
Latvia found
Sierra Leone found
Djibouti found
Zambia found
Uzbekistan found
Belarus found
Croatia found
Eritrea found
Slovenia found
Albania found
Tajikistan found
Austria found
Mali found
Georgia found
Russian Federation found
Indonesia found
Cyprus found
Democratic Republic of the Congo found
Andorra found
Timor-Leste found
Denmark found
Benin found
Tuvalu found
Bahrain found
Bosnia and Herzegovina found
Papua New Guinea found
Central African Republic found
Cuba found
Iraq found
Seychelles found
United Arab Emirates found
Marshall Islands found
Greece found
Nigeria found
India found
Bahamas found
Saudi Arabia found
Syrian Arab Republic found
Jordan found
Romania found
Madagascar found
Slovakia found
Mayotte NOT found
Nauru found
Singapore found
Samoa found
Ecuador found
Ghana found
Uganda found
Monaco found
Barbados found
Gambia found
Venezuela (Bolivarian Republic of) found
Honduras found
Ethiopia found
South Sudan found
Lao People's Democratic Republic found
Burundi found
South Africa found
France found
Türkiye found
Qatar found
Eswatini found
Sao Tome and Principe found
San Marino found
Cambodia found
Republic of Moldova found
Democratic People's Republic of Korea found
United States of America found
Belize found
Ukraine found
Germany found
Gabon found
Colombia found
Estonia found
Libya found
Niue found
Sweden found
Saint Vincent and the Grenadines found
Dominica found
Congo found
Netherlands found
Trinidad and Tobago found
Mozambique found
Tunisia found
Cook Islands found
Peru found
Suriname found
Mexico found
Chad found
Kiribati found
Brunei Darussalam found
Norway found
Iceland found
Panama found
Maldives found
Rwanda found
Côte d’Ivoire found
Serbia found
Togo found
Kyrgyzstan found
Guinea found
Guinea-Bissau found
Turkmenistan found
Vanuatu found
Comoros found
Saint Lucia found
French Guiana NOT found
Morocco found
El Salvador found
Italy found
Burkina Faso found
Nicaragua found
Zimbabwe found
Solomon Islands found
Viet Nam found
Brazil found
Armenia found
Egypt found
Liberia found
Afghanistan found
Hungary found
Senegal found
Malta found
Bangladesh found
Cabo Verde found
Namibia found
Sri Lanka found
Portugal found
Bolivia (Plurinational State of) found
New Zealand found
Belgium found
Grenada found
Kenya found
Micronesia (Federated States of) found
Somalia found
Paraguay found
Japan found
Fiji found
Mongolia found
Republic of Korea found
Australia found
Finland found
Haiti found
Poland found
Mauritania found
Myanmar found
The former Yugoslav Republic of Macedonia found
Angola found
Yemen found
Tonga found
Equatorial Guinea found
Kazakhstan found
Saint Kitts and Nevis found
Sudan found
Lebanon found
Dominican Republic found
Antigua and Barbuda found
Iran (Islamic Republic of) found
Pakistan found
Costa Rica found
Guyana found
Bulgaria found
Algeria found
United Republic of Tanzania found
United Kingdom of Great Britain and Northern Ireland found
Argentina found
Botswana found
Mauritius found
Cameroon found
Spain found
Palau found
Canada found
Niger found
Ireland found
Uruguay found
Bhutan found
China found
Israel found
Lithuania found
Thailand found
Malawi found
Nepal found
Switzerland found
Philippines found
Guatemala found
Luxembourg found
Malaysia found
Chile found
Lesotho found
Montenegro found
Azerbaijan found
Jamaica found
Oman found

In [20]:
# Check the dataframe
countries_df

          Country   Latitude  Longitude
0          Kuwait  29.273396  47.497948
1         Czechia  49.743905  15.338106
2          Latvia  56.840649  24.753764
3    Sierra Leone   8.640035 -11.840027
4        Djibouti  11.814597  42.845306
..            ...        ...        ...
191       Lesotho -29.603927  28.335019
192    Montenegro  42.986885  19.518099
193    Azerbaijan  40.393629  47.787251
194       Jamaica  18.185051 -77.394769
195          Oman  21.000029   57.00369

[196 rows x 3 columns]

In [26]:
# Find out which countries have an unknown latitude
lat_not_found = countries_df.loc[countries_df["Latitude"] == "Not Found"]
lat_not_found

           Country   Latitude  Longitude
44         Mayotte  Not Found  Not Found
109  French Guiana  Not Found  Not Found

In [ ]:
# Find out which countries have an unknown longitude
lon_not_found = countries_df.loc[countries_df["Longitude"] == "Not Found"]
lon_not_found

In [40]:
# Populate these countries with coordinates found through google search
countries_df.loc[countries_df["Country"] == "Mayotte", "Latitude"] = -12.8275
countries_df.loc[countries_df["Country"] == "Mayotte", "Longitude"] = 45.1662

countries_df.loc[countries_df["Country"] == "French Guiana", "Latitude"] = 3.9339
countries_df.loc[countries_df["Country"] == "French Guiana", "Longitude"] = -53.1258

In [41]:
# Double check that replacement values worked
countries_df.loc[countries_df["Country"] == "Mayotte"]

    Country Latitude Longitude
44  Mayotte -12.8275   45.1662

In [59]:
# Double check that replacement values worked
countries_df.loc[countries_df["Country"] == "French Guiana"]

           Country  Latitude  Longitude
109  French Guiana    3.9339   -53.1258

In [54]:
# Check data types
countries_df.dtypes

Country      object
Latitude     object
Longitude    object
dtype: object

In [55]:
# Change lat & lon to float types
countries_df = countries_df.astype({"Latitude": "float", "Longitude": "float"})

In [56]:
# Check data types
countries_df.dtypes

Country       object
Latitude     float64
Longitude    float64
dtype: object

In [61]:
# Save to JSON
countries_df.to_json("Output/countries.json", orient = "table", index = False)