In [18]:
# Import dependencies
import pandas as pd

In [19]:
# Store csv files into variables
MALARIA_RATE = "Resources/Estimated_malaria_incidence_2000_to_2021.csv"
MORTALITY_RATE = "Resources/Estimated_malaria_mortality_rate_2000_to_2010.csv"
MALARIA_CASES = "Resources/Estimated_number_of_malaria_cases_2000_to_2021.csv"
MALARIA_DEATHS = "Resources/Estimated_number_of_malaria_deaths_2000_to_2021.csv"

In [20]:
# Create dataframes
malaria_rate_df = pd.read_csv(MALARIA_RATE)
malaria_rate_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MALARIA_EST_INCIDENCE,Estimated malaria incidence (per 1000 populati...,text,AFR,Africa,Country,MUS,Mauritius,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-05-10T05:00:00.000Z
1,MALARIA_EST_INCIDENCE,Estimated malaria incidence (per 1000 populati...,text,AFR,Africa,Country,DZA,Algeria,Year,2021,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2023-05-10T05:00:00.000Z
2,MALARIA_EST_INCIDENCE,Estimated malaria incidence (per 1000 populati...,text,AMR,Americas,Country,BLZ,Belize,Year,2021,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2023-05-10T05:00:00.000Z
3,MALARIA_EST_INCIDENCE,Estimated malaria incidence (per 1000 populati...,text,AFR,Africa,Country,CPV,Cabo Verde,Year,2021,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2023-05-10T05:00:00.000Z
4,MALARIA_EST_INCIDENCE,Estimated malaria incidence (per 1000 populati...,text,EMR,Eastern Mediterranean,Country,IRN,Iran (Islamic Republic of),Year,2021,...,NaN,NaN,0.0,NaN,0.0,0 [0 – 0],NaN,NaN,EN,2023-05-10T05:00:00.000Z

In [21]:
# Create dataframes
mortality_rate_df = pd.read_csv(MORTALITY_RATE)
mortality_rate_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...,text,AMR,Americas,Country,HND,Honduras,Year,2020,...,NaN,NaN,0.0,NaN,0.011,0 [0 – 0.011],NaN,NaN,EN,2022-02-09T06:00:00.000Z
1,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...,text,AMR,Americas,Country,BLZ,Belize,Year,2020,...,NaN,NaN,0.0,NaN,0.000,0 [0 – 0],NaN,NaN,EN,2022-02-09T06:00:00.000Z
2,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...,text,SEAR,South-East Asia,Country,BTN,Bhutan,Year,2020,...,NaN,NaN,0.0,NaN,0.000,0 [0 – 0],NaN,NaN,EN,2022-02-09T06:00:00.000Z
3,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...,text,AFR,Africa,Country,CPV,Cabo Verde,Year,2020,...,NaN,NaN,0.0,NaN,0.000,0 [0 – 0],NaN,NaN,EN,2022-02-09T06:00:00.000Z
4,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...,text,AMR,Americas,Country,CRI,Costa Rica,Year,2020,...,NaN,NaN,0.0,NaN,0.000,0 [0 – 0],NaN,NaN,EN,2022-02-09T06:00:00.000Z

In [22]:
# Create dataframes
malaria_cases_df = pd.read_csv(MALARIA_CASES)
malaria_cases_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MALARIA_EST_CASES,Estimated number of malaria cases,text,AFR,Africa,Country,DZA,Algeria,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-04-13T05:00:00.000Z
1,MALARIA_EST_CASES,Estimated number of malaria cases,text,AMR,Americas,Country,ARG,Argentina,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-04-13T05:00:00.000Z
2,MALARIA_EST_CASES,Estimated number of malaria cases,text,EUR,Europe,Country,ARM,Armenia,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-04-13T05:00:00.000Z
3,MALARIA_EST_CASES,Estimated number of malaria cases,text,EUR,Europe,Country,AZE,Azerbaijan,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-04-13T05:00:00.000Z
4,MALARIA_EST_CASES,Estimated number of malaria cases,text,AMR,Americas,Country,BLZ,Belize,Year,2021,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2023-04-13T05:00:00.000Z

In [23]:
# Create dataframes
malaria_deaths_df = pd.read_csv(MALARIA_DEATHS)
malaria_deaths_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MALARIA_EST_DEATHS,Estimated number of malaria deaths,text,AMR,Americas,Country,BLZ,Belize,Year,2020,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2022-02-03T06:00:00.000Z
1,MALARIA_EST_DEATHS,Estimated number of malaria deaths,text,SEAR,South-East Asia,Country,BTN,Bhutan,Year,2020,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2022-02-03T06:00:00.000Z
2,MALARIA_EST_DEATHS,Estimated number of malaria deaths,text,AFR,Africa,Country,CPV,Cabo Verde,Year,2020,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2022-02-03T06:00:00.000Z
3,MALARIA_EST_DEATHS,Estimated number of malaria deaths,text,AMR,Americas,Country,CRI,Costa Rica,Year,2020,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2022-02-03T06:00:00.000Z
4,MALARIA_EST_DEATHS,Estimated number of malaria deaths,text,SEAR,South-East Asia,Country,PRK,Democratic People's Republic of Korea,Year,2020,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2022-02-03T06:00:00.000Z

In [24]:
malaria_deaths_df.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [25]:
malaria_deaths_df = malaria_deaths_df[["ParentLocation", "Location", "Period", "FactValueNumeric"]]
malaria_deaths_df.head()

,ParentLocation,Location,Period,FactValueNumeric
0,Americas,Belize,2020,0.0
1,South-East Asia,Bhutan,2020,0.0
2,Africa,Cabo Verde,2020,0.0
3,Americas,Costa Rica,2020,0.0
4,South-East Asia,Democratic People's Republic of Korea,2020,0.0

In [26]:
malaria_rate_df = malaria_rate_df[["ParentLocation", "Location", "Period", "FactValueNumeric"]]
malaria_rate_df.head()

          ParentLocation                    Location  Period  FactValueNumeric
0                 Africa                   Mauritius    2021               0.0
1                 Africa                     Algeria    2021               0.0
2               Americas                      Belize    2021               0.0
3                 Africa                  Cabo Verde    2021               0.0
4  Eastern Mediterranean  Iran (Islamic Republic of)    2021               0.0

In [27]:
malaria_cases_df = malaria_cases_df[["ParentLocation", "Location", "Period", "FactValueNumeric"]]
malaria_cases_df.head()

  ParentLocation    Location  Period  FactValueNumeric
0         Africa     Algeria    2021                 0
1       Americas   Argentina    2021                 0
2         Europe     Armenia    2021                 0
3         Europe  Azerbaijan    2021                 0
4       Americas      Belize    2021                 0

In [28]:
mortality_rate_df = mortality_rate_df[["ParentLocation", "Location", "Period", "FactValueNumeric"]]
mortality_rate_df.head()

    ParentLocation    Location  Period  FactValueNumeric
0         Americas    Honduras    2020               0.0
1         Americas      Belize    2020               0.0
2  South-East Asia      Bhutan    2020               0.0
3           Africa  Cabo Verde    2020               0.0
4         Americas  Costa Rica    2020               0.0

In [29]:
malaria_cases_df = malaria_cases_df.rename(columns = {"ParentLocation": "Region", "Location": "Country",
                                                      "Period": "Year", "FactValueNumeric": "Num_Cases"})
malaria_deaths_df = malaria_deaths_df.rename(columns = {"ParentLocation": "Region", "Location": "Country",
                                                      "Period": "Year", "FactValueNumeric": "Num_Deaths"})
malaria_rate_df = malaria_rate_df.rename(columns = {"ParentLocation": "Region", "Location": "Country",
                                                      "Period": "Year", "FactValueNumeric": "Incidence_Rate)"})
mortality_rate_df = mortality_rate_df.rename(columns = {"ParentLocation": "Region", "Location": "Country",
                                                      "Period": "Year", "FactValueNumeric": "Mortality_Rate"})

In [30]:
malaria_cases_df.dtypes

Region       object
Country      object
Year          int64
Num_Cases     int64
dtype: object

In [31]:
malaria_rate_df.dtypes

Region              object
Country             object
Year                 int64
Incidence_Rate)    float64
dtype: object

In [32]:
malaria_deaths_df.dtypes

Region         object
Country        object
Year            int64
Num_Deaths    float64
dtype: object

In [33]:
mortality_rate_df.dtypes

Region             object
Country            object
Year                int64
Mortality_Rate    float64
dtype: object

In [34]:
# Save updated dataframes to csv files
mortality_rate_df.to_csv("Output/mortality_rate.csv", index = False)
malaria_cases_df.to_csv("Output/malaria_cases.csv", index = False)
malaria_rate_df.to_csv("Output/malaria_rate.csv", index = False)
malaria_deaths_df.to_csv("Output/malaria_deaths.csv", index = False)